/*-- 動畫 --*/
.wrapper{
    background-image: url("../img/store7.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
.wrapper::before{
    content:"";
    width: 100%;
    padding-bottom: 34.6%;
    display: block;
}

.wrapper a{
    display: inline-block;
    margin: 0 auto;
}
/* ==== 商品動畫 ==== */
/* --- 玩具動畫 ---*/
.toy{
    animation: shake 4s linear infinite;
}

.deco{
    position: absolute;
    overflow: hidden;
}

.deco img{
    width: 100%;
    height: auto;
    /* position: absolute */
}

.toy:hover img{
    transform: scale(1.2);
}
@keyframes shake{
    10%, 90%{transform: rotate(10deg);}
    20%, 80%{transform: rotate(-10deg);}
    30%, 70%{transform: rotate(10deg);}
    40%, 60%{transform: rotate(-10deg);}
    50%{transform: translate(0.5px);}
}
/* --- 推車動畫 ---*/

.car:hover img{
    transform: scale(1.2);
}
/* ==== 商品定位 ==== */
/* --- 玩具大小 & 定位 ---*/
.toy1{
    top: 15%;
    left: 14%;
    width: 13%;
}
.toy2{
    top: 15%;
    left: 23%;
    width: 13%;
}
.toy3{
    top: 4%;
    left: 35%;
    width: 13%;
}
.toy4{
    top: 4%;
    left: 43%;
    width: 13%;
}
/* --- 推車定位 ---*/
.car1{
    top: 50%;
    left: 33%;
    width: 16%;
}
.car2{
    top: 50%;
    left: 43%;
    width: 16%;
}
/* 寶弟購物車動畫 */
@keyframes baldicar{
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(-100vw) translateX(-100%);

    }
}


.baldicar{
    width: 26%;
    height: auto;
    animation: baldicar 7s linear infinite;
    right: 0;
    bottom: 0;
}
/*-- 飼料、零食 --*/
.section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center; 
    
    
}
h1{
    text-align: center;
    font-weight: bold;
    margin-top: 70px;
}

.card{
    width: 400px;
    height: 200px;
    text-align: center;
    margin: 80px auto;
    /* border: 1px solid blue; */
}

.card a{
    display: inline-block;
}

.card a:hover{
    transform:scale(1.5);
}

.card img{
    width: 50%;
}
.card p{
    font-weight: bold;
    line-height: 1.6;
    display: block;
    text-align: center;
    
}
.name{
    /* font-size: 18px; */
    color: black;
    margin-top: 10px;
}
.price{
    /* font-size: 14px; */
    color: red;
    
}