body{
    font-family: Arial,"微軟正黑體";
    font-size: 16px;
}

/*-- 頁首 --*/
header{
    background-color: #E1A84C;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.logo{
    width: 180px;
    height: 80px;
    margin: 0 30px;
    
}

/* --- 導覽列 &  搜尋--- */
.ngb{
    height: 105px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
}
.ngb a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
}


.ngb .ngb_list:hover a{
    background-color: white;
    border-radius: 10px;
    color: #E1A84C;
}

.searchbox{
    position: relative;
}

.search{
    width: 300px;
    height: 30px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #E1A84C;
    padding-left: 10px;
}

.inputbtn{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 4px;
    right: 10px;
    border-style: none;
    background-color: transparent;
}


/* --- 會員區 --- */
.mb{
    display: flex;
 }
 .mbi{
     height: 60px;
     width: 60px;
 }
 .member{
     border-style: none;
     background-color: transparent;
     cursor: pointer;
 }
 /* --- 彈跳視窗 --- */
 .dialog{
     position: fixed;
     top: 200px;
     left: 50%;
     width: 300px;
     border: 3px solid white;
     border-radius: 10px;
     background-color: #E1A84C;
     box-shadow: 0 0 20px black ;
     padding: 10px;
     transform: translate(-120px,0px);
     display: none;
     z-index: 10000;
 }
 .dialog > .close{
     position: absolute;
     top: 5px;
     right: 7px;
     cursor: pointer;
     color: white;
 }
 /* --- FB & Google 登入 --- */
 .login{
     margin: 0 auto;
     width: 240px;
     margin-top: 15px;
     padding: 10px; 
 }
 .login img{
     display: inline;
     width: 30px;
     height: 30px;
     margin-left: 40px;
 }
 .login span{
     margin: 6px;
     font-weight: bold;
 }
 .fb_login{
     width: 240px;
     display: flex;
     background-color: #3b5998;
     color: white;
     border-color: #3b5998;
 }
 .google_login{
     width: 240px;
     display: flex;
     background-color: #EB4334;
     color: white;
     border-color: #EB4334;
 }
 .google_login img{
     background-color: white;
     border-radius: 50px;
 }
 /* --- 帳號密碼 --- */
 .login2{
     margin: 0 auto;
     text-align: center;
     color: white;
     font-size: 18px;
 }
 .login2 input{
     margin: 10px;
 } 
 .login-btn{
     margin: 5px;
     background-color: white;
     border-color: #E1A84C;
     ;
 }
/*-- 內容 --*/
h1{
    color: #E1A84C;
}
/*-- 頁尾 --*/
footer{
    background-color: #E1A84C;
    /* font-size: 14px; */
    color: white;
    height: 120px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*-- 左 --*/
footer img{
    width: 180px;
    height: 80px;
    margin: 50px;
}

/*-- 中 --*/
.boss{
    margin: 40px;
    margin-left: 130px;
}

/*-- 右 --*/
footer ul{
    display: flex;
    justify-content: center;
    margin-left: 50px;
}
footer li a{
    text-decoration: none;
    color: white;
    margin: 20px;
}

