/*-- 動畫 --*/
.wrapper{
    background-image: url("../img/store1.jpg");
    height: 436px;
    background-repeat: repeat-x;
    position: relative;
}

@keyframes baldicar{
    0%{
        right: 0px;
        opacity: 0;
    }
    1%{
        opacity: 1;
    }
    100%{
        right: 1400px;
        opacity: 1;
    }
}
.baldicar{
    width: 375px;
    height: 286px;
    position: absolute;
    right: -100px;
    bottom: 15px;

    animation: baldicar 20s linear infinite;
}

/*-- 熱門商品櫃子專區 --*/
/*-- 衣櫃 --*/
.section{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}
h1{
    text-align: center;
    font-size: 24px;
    color: #E1A84C;
    font-weight: bold;
    margin-top: 15px;
}
h1 img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
.card{
    background-image: url("/img/box.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 200px;
    margin-bottom: 30px;
}
.door{
    background-image: url("/img/door.svg.jpg");
    background-repeat: no-repeat;
    
    width: 300px;
    height: 200px;
    position: absolute;
    top: auto;
    left: auto;
}
.card a{
    display: inline-block;
}

.card img{
    margin-left: 70px;
    width: 200px;
    height: 200px;
}
.card a:hover{
    transform:scale(1.3);
}
