@import url('reset.css');

body{
    font-family: Arial,"微軟正黑體";
}

/*-- 頁首 --*/
header{
    background-color: #E1A84C;
    font-size: 12px;
    color: white;
    /* height: 105px; */
    /* width: 1440px; */
}
.logo{
    width: 180px;
    height: 80px;
    margin: 0 30px;
    
}

/* --- 導覽列 &  搜尋--- */
.ngb{
    height: 105px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
}
.ngb a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.searchbox{
    position: relative;
}

.search{
    width: 300px;
    height: 30px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #E1A84C;
    
}

.inputbtn{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 4px;
    right: 10px;
    border-style: none;
    background-color: transparent;
}

/* --- 會員區 --- */
.mb {
    margin: 0 30px;
}
.mb img{
    height: 50px;
    width: 50px;
}
/*-- 動畫 --*/
.wrapper{
    background-image: url("../img/store1.jpg");
    height: 436px;
    background-repeat: repeat-x;
    position: relative;
}

@keyframes baldicar{
    0%{
        right: 0px;
        opacity: 0;
    }
    1%{
        opacity: 1;
    }
    100%{
        right: 1400px;
        opacity: 1;
    }
}
.baldicar{
    width: 375px;
    height: 286px;
    position: absolute;
    right: -100px;
    bottom: 15px;

    animation: baldicar 20s linear infinite;
}

/*-- 熱門商品櫃子專區 --*/
/*-- 衣櫃 --*/
.section{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}
h1{
    text-align: center;
    font-size: 24px;
    color: #E1A84C;
    font-weight: bold;
    margin-top: 15px;
}
h1 img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
.card{
    background-image: url("/img/box.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 200px;
    margin-bottom: 30px;
}
.door{
    background-image: url("/img/door.svg.jpg");
    background-repeat: no-repeat;
    
    width: 300px;
    height: 200px;
    position: absolute;
    top: auto;
    left: auto;
}
.card a{
    display: inline-block;
}

.card img{
    margin-left: 70px;
    width: 200px;
    height: 200px;
}
.card a:hover{
    transform:scale(1.3);
}
/*-- 食物櫃 --*/

/*-- 頁尾 --*/
footer{
    background-color: #E1A84C;
    font-size: 14px;
    color: white;
    height: 120px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*-- 左 --*/
footer img{
    width: 180px;
    height: 80px;
    margin: 50px;
}

/*-- 中 --*/
.boss{
    margin: 40px;
    margin-left: 130px;
}

/*-- 右 --*/
footer ul{
    display: flex;
    justify-content: center;
    margin-left: 50px;
}
footer li a{
    text-decoration: none;
    color: white;
    margin: 20px;
}