/*-- 動畫 --*/
.wrapper{
    background-image: url("../img/store7.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
.wrapper::before{
    content:"";
    width: 100%;
    padding-bottom: 34.6%;
    display: block;
}

.wrapper a{
    display: inline-block;
    margin: 0 auto;
}
/* ==== 商品動畫 ==== */
/* --- 玩具動畫 ---*/
.toy{
    animation: shake 4s linear infinite;
}

.deco{
    position: absolute;
    overflow: hidden;
}

.deco img{
    width: 100%;
    height: auto;
    /* position: absolute */
}

.toy:hover img{
    transform: scale(1.2);
}
@keyframes shake{
    10%, 90%{transform: rotate(10deg);}
    20%, 80%{transform: rotate(-10deg);}
    30%, 70%{transform: rotate(10deg);}
    40%, 60%{transform: rotate(-10deg);}
    50%{transform: translate(0.5px);}
}
/* --- 推車動畫 ---*/
.car{
    /* animation: move 4s linear infinite; */
}

.car:hover img{
    transform: scale(1.2);
}
/* @keyframes move{
    10%, 90%{transform: translate(5px);}
    20%, 80%{transform: translate(5px);}
    30%, 70%{transform: translate(5px);}
    40%, 60%{transform: translate(5px);}
    50%{transform: translate(0);}
} */
/* ==== 商品定位 ==== */
/* --- 玩具大小 & 定位 ---*/
.toy1{
    top: 15%;
    left: 14%;
    width: 13%;
}
.toy2{
    top: 15%;
    left: 23%;
    width: 13%;
}
.toy3{
    top: 4%;
    left: 35%;
    width: 13%;
}
.toy4{
    top: 4%;
    left: 43%;
    width: 13%;
}
/* --- 推車定位 ---*/
.car1{
    top: 50%;
    left: 33%;
    width: 16%;
}
.car2{
    top: 50%;
    left: 43%;
    width: 16%;
}
/* 寶弟購物車動畫 */
@keyframes baldicar{
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(-100vw) translateX(-100%);

    }
}


.baldicar{
    width: 26%;
    height: auto;
    animation: baldicar 7s linear infinite;
    right: 0;
    bottom: 0;
}

/*-- 熱門商品櫃子專區 --*/
/*-- 衣櫃 --*/
.section{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}
h1{
    text-align: center;
    font-size: 24px;
    color: #E1A84C;
    font-weight: bold;
    margin-top: 15px;
}

h1 img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.card{
    width: 250px;
    height: 200px;
    margin-bottom: 70px;
    text-align: center;
    
}
.card a{
    background-image: url(/img/box.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 200px;
    display:inline-block;
    overflow: hidden;
}

.card img{
    width: 80%;
}
.card p{
    font-weight: bold;
    line-height: 1.6;
    display: block;
}
.name{
    margin-top: 10px;
}
.card a:hover img{
    transform:scale(1.3);
}
