/* 展示圖 */
.show{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
}

.show img{
    width: 270px;
    height: 270px;
}
/*-- (右)資訊欄 --*/
.info{
    width: 200px;
    padding: 40px;
    
    line-height: 1.6;
}
.info h1{
    font-size: 18px;
    font-weight: bold;
    color: #E1A84C;
    margin-bottom: 10px;
}
.info p{
    font-size: 14px;
    margin-bottom: 15px;
}
/*-- 加1減1 --*/
.txt{
    width: 20px;
    text-align: center;
}
.info > button{
    width: 20px;
    background-color: #E1A84C;
    border: 1px solid #E1A84C;
    color: white;
}
.button{
    background-color: #E1A84C;
    border-radius: 5px;
    border-color: #E1A84C;
    padding: 5px;
    color: white;
}
/*-- 價錢 --*/
.info .price{
    color: red;
    /* font-size: 18px; */
    margin-top: 10px;
}
/* 店長推薦專區 */
.recommend{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}
.mg{
    font-size: 24px;
    color: #E1A84C;
    font-weight: bold;
    margin: 3%0 0 20%;
}
.mg img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
.card{
    height: 200px;
    margin-bottom: 10px;
}
.card a{
    display: inline-block;
}

.card img{
    margin-left: 60px;
    width: 150px;
    height: 150px;
}
.card a:hover{
    transform:scale(1.2);
}

@media screen and (max-width: 768px){
    .card{
        height: 100px;
    }
    .card img{
        width: 60px;
        height: 60px;
        margin-left: 10px;
    }
    .mg{
        font-size: 20px;
        margin: 15% 0 0 5%;
    }
    .info{
        padding: 0;
    }
    .show img {
        width: 240px;
        height: 240px;
    }
}