/*-- 動畫 --*/
.wrapper{
    background-image: url("../img/toy\ store.jpg");
    height: 400px;
    background-repeat: repeat-x;
    position: relative;
}
/*-- 飼料、零食 --*/
.section{
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-wrap: wrap; 
    margin: 20px;
}
h1{
    text-align: center;
    margin-top: 70px;
}

.card{
    width: 400px;
    height: 200px;
    margin-bottom: 80px;
    margin-top: 30px;
    text-align: center;
}

.card a{
    display: inline-block;
    margin: 0 auto;
}

.card a:hover{
    transform:scale(1.5);
}

.card img{
    width: 150px;
}
.card p{
    font-weight: bold;
    line-height: 1.6;
    display: block;
}
.name{
    /* font-size: 18px; */
    color: black;
    margin-top: 10px;
}
.price{
    /* font-size: 14px; */
    color: red;
    
}

@keyframes baldicar{
    0%{
        right: 0px;
        opacity: 0;
    }
    1%{
        opacity: 1;
    }
    100%{
        right: 1400px;
        opacity: 1;
    }
}
.baldicar{
    width: 375px;
    height: 286px;
    position: absolute;
    right: -100px;
    bottom: 30px;

    animation: baldicar 20s linear infinite;
}