/* --- 選購商品區 --- */

table{
    border-collapse: collapse;  
    width: 70%;
    margin: 20px auto;
    border: 3px solid white;
    background-color: #E1A84C;
    color: white;
}
.title{
    font-size: 14px;
    background-color: #E1A84C;
    color: white;
}
.checkbox{
    width: 50px;
}
.commodity{
    width: 120px;
    margin-left: 50px;
    background-color: white;
    border-radius: 5px;
}
.word{
    width: 86px;
    font-size: 14px;
    color: white;
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
    font-weight: bold;
}
td{
    background-color: #E1A84C;
    padding: 10px 0;
    min-width: 140px;
    text-align: center;
    vertical-align: middle;
}
td > label{
    display: flex;
    flex-wrap: wrap;
}
.price{
    font-weight: bold;
    color: black;
}
.totle{
    font-weight: bold;
    color: red;
}
.garbagecan{
    width: 30px;
    height: 30px;
    cursor: pointer ;
}
tr{
    border: 2px solid white;
    background-color: #f6f6f6;
}
.pay input{
    margin: 10px;
}
.pay h1{
    color: white;
    font-size: 20px;
}
.btn button{
    width: 20px;
    height: 20px;
    outline: none;
    border-style: none;
    border-color: white;
    color: #E1A84C;
    border-radius: 3px;
    cursor: pointer;
}
.btn input{
    width: 20px;
    height: 20px;
    text-align: center;
}
.buybtn button{
    border-color: white;
    color: #E1A84C;
    font-weight: bold;
    border-style: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

@media screen and (max-width: 576px){
	td {
        min-width: 30px;
      }
	.commodity {
		width: 60px;
	}
	.garbagecan {
		width: 20px;
		height: 20px;
	}
    .price {
        font-size: 12px;
}

@media screen and (min-width: 576px) and (max-width: 767.98px){
    td{
        min-width: 40px;
        vertical-align: middle;
    }
    .word{
        width: 100%;
        font-size: 14px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 768px){
    table{
        width: 40%;
    }
    td{
        min-width: 35px;
        vertical-align: middle;
    }
    .commodity{
        width: 60px;
        margin-left: 10px;
    }
    .word{
        width: 100%;
        font-size: 14px;
        margin-top: 10px;
    }
    .pay h1{
        font-size: 18px;
    }
    .pay label{
        font-size: 14px;
    }
    .pay label{
        display: block;
        text-align: left;
    }
}

@media screen and (min-width: 768px) and (max-width: 991.98px){
    
    table{
        width: 50%;
    }
    .commodity{
        width: 120px;
        margin-left: 50px;
        background-color: white;
        border-radius: 5px;
    }
    .word{
        width: 86px;
        font-size: 14px;
        color: white;
        display: inline-block;
        text-decoration: none;
        margin-top: 60px;
        font-weight: bold;
    }
    td{
        background-color: #E1A84C;
        padding: 10px 0;
        min-width: 140px;
        text-align: center;
        vertical-align: middle;
    }
}
