/* --- 選購商品區 --- */
.up{
    width: 900px;
    margin: 0 auto;
    border-bottom: 5px solid black;
}
.up > div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #E1A84C;
    border-radius: 10px;
    margin: 30px;
    font-weight: bold;
    color: white;
}
/*-- 商品img --*/
.up .commodity{
    width: 150px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}
.shangpin{
    width: 200px;
}
.shangpin a{
    color: white;
}
.up .price{
    font-weight: normal;
    color: white;
    margin-left: 10px;
}
/*-- 加1減1 --*/
.text{
    width: 40px;
    text-align: center;
    border-style: none;
    /* border-radius: 5px; */
}
.button{
    background-color: white;
    border-radius: 3px;
    border-color: white;
}
/*-- 移除的垃圾桶icon --*/
.up .garbagecan{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
/*-- total --*/
.total{
    width: 900px;
    margin: 0 auto;
    text-align: right;
    padding: 20px;
}
.total span{
    font-size: 18px;
    color: red;
    font-weight: bold;
    margin: 80px;
}
/*-- 付款方式 --*/
.down{
    width: 900px;
    margin: 0 auto;
    padding: 10px;
}
.down h1{
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin: 20px;
}
.down .pay{
    margin: 0 30px 10px;
    padding: 10px;
    line-height: 1.6;
    background-color: #E1A84C;
    border-radius: 10px;
    display: flex;
}
.pay label{
    margin-top: 45px;
    color: white;
}
.pay input{
    margin-top: 50px;
}
.send{
    margin: 0 auto;
}
.send label{
    color: white;
    margin-left: 40px;
}
.send input{
    margin: 10px;
    width: 200px;
    border-style: none;
    border-radius: 5px;
}
/*-- 買單按鈕 --*/
.down button{
    display: block;
    margin: 0 auto;
    background-color: #E1A84C;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border-color: #E1A84C;
}