/*-- (左)更衣室 --*/
.room{
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
    align-items: center;
}

.room img{
    height: 180px;
}
/*-- (右)資訊欄 --*/
.info{
    width: 50%;
    padding: 10px;
    
    line-height: 1.6;
}
.info h1{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
/* .info p{
     font-size: 14px; 
} */
/*-- size選單 --*/
select{
    width: 100px;
    margin: 20px auto 10px;
}
option{
    text-align: center;
}
/*-- 加1減1 --*/
.text{
    width: 40px;
    text-align: center;
}
.button{
    background-color: #E1A84C;
    border-radius: 5px;
    border-color: #E1A84C;
}
/*-- 價錢 --*/
.info .price{
    color: red;
    /* font-size: 18px; */
    margin-top: 10px;
}
/*-- 衣服 --*/

.top{
    display: flex;
}
/* 衣服3D輪播 */
.swiper {
    width: 100%;
    height: 100%;
  }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}
.swiper-slide img {
  display: block;
  width: 25%;
  height: 100%;
  object-fit: cover;
}
.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.mySwiper2 {
    width: 100%;
    height: 80%;
}
.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}
.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}
.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}