/*-- (左)更衣室 --*/
.room{
    width: 1200px;
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}

.room img{
    width: 270px;
    height: 170px;
    padding-top: 50px;
}
/*-- (右)資訊欄 --*/
.info{
    width: 200px;
    padding: 10px;
    
    line-height: 1.6;
}
.info h1{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
/* .info p{
     font-size: 14px; 
} */
/*-- size選單 --*/
select{
    width: 100px;
    margin: 20px auto 10px;
}
option{
    text-align: center;
}
/*-- 加1減1 --*/
.text{
    width: 40px;
    text-align: center;
}
.button{
    background-color: #E1A84C;
    border-radius: 5px;
    border-color: #E1A84C;
}
/*-- 價錢 --*/
.info .price{
    color: red;
    /* font-size: 18px; */
    margin-top: 10px;
}
/*-- 衣服 --*/
[type=radio]{
    display: none;
}
#slider{
    margin: 20px;
    height: 200px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

#slider label{
    margin: auto;
    width: 200px;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform .4s ease;
}

#slider img{
    width: 100%;
    height: 100%;
}

/* 衣服3D輪播 */
/* 左3 */
#s1:checked ~ #slide5, #s2:checked ~ #slide6,
#s3:checked ~ #slide7, #s4:checked ~ #slide1,
#s5:checked ~ #slide2, #s6:checked ~ #slide3,
#s7:checked ~ #slide4{
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(-600px,0,-300px);
}
/* 左2 */
#s1:checked ~ #slide6, #s2:checked ~ #slide7,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3, #s6:checked ~ #slide4,
#s7:checked ~ #slide5{
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(-400px,0,-200px);
}
/* 左1 */
#s1:checked ~ #slide7, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4, #s6:checked ~ #slide5,
#s7:checked ~ #slide6{
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3),0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-200px,0,-100px);
}
/* 中間 */
#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5, #s6:checked ~ #slide6,
#s7:checked ~ #slide7{
    box-shadow: 0 13px 25px 0 rgba(0,0,0,.3),0 11px 7px 0 rgba(0,0,0,.19);
    transform: translate3d(0,0,0);
}
/* 右1 */
#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide6, #s6:checked ~ #slide7,
#s7:checked ~ #slide1{
    box-shadow: 0 6px 10px rgba(0,0,0,.3),0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(200px,0,-100px);
}
/* 右2 */
#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide6,
#s5:checked ~ #slide7, #s6:checked ~ #slide1,
#s7:checked ~ #slide2{
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(400px,0,-200px);
}
/* 右3 */
#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide6, #s4:checked ~ #slide7,
#s5:checked ~ #slide1, #s6:checked ~ #slide2,
#s7:checked ~ #slide3{
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(600px,0,-300px);
}
