@import url('./reset.css');

body{
    font-family: Arial,"微軟正黑體";
    font-size: 16px;
}

/*-- 頁首 --*/
header{
    background-color: #E1A84C;
    font-size: 12px;
    color: white;
    /* height: 105px; */
    /* width: 1440px; */
}
.logo{
    width: 180px;
    height: 80px;
    margin: 0 30px;
    
}

/* --- 導覽列 &  搜尋--- */
.ngb{
    height: 105px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
}
.ngb a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.searchbox{
    position: relative;
}

.search{
    width: 300px;
    height: 30px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #E1A84C;
    padding-left: 10px;
}

.inputbtn{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 4px;
    right: 10px;
    border-style: none;
    background-color: transparent;
}

/* --- 會員區 --- */
.mb {
    margin: 0 30px;
}
.mb img{
    height: 50px;
    width: 50px;
}
/*-- (左)更衣室 --*/
.room{
    width: 1200px;
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}

.room img{
    width: 270px;
    height: 170px;
    padding-top: 50px;
}
/*-- (右)資訊欄 --*/
.info{
    width: 200px;
    padding: 10px;
    
    line-height: 1.6;
}
.info h1{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.info p{
    font-size: 14px;
}
/*-- size選單 --*/
select{
    width: 100px;
    margin: 20px auto 10px;
}
option{
    text-align: center;
}
/*-- 加1減1 --*/
.text{
    width: 40px;
    text-align: center;
}
.button{
    background-color: #E1A84C;
    border-radius: 5px;
    border-color: #E1A84C;
}
/*-- 價錢 --*/
.info .price{
    color: red;
    font-size: 18px;
    margin-top: 10px;
}
/*-- 衣服 --*/
.main{
    display: flex;
}
.main img{
    width: 240px;
    height: 140px;
}

/*-- 頁尾 --*/
footer{
    background-color: #E1A84C;
    font-size: 14px;
    color: white;
    height: 120px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*-- 左 --*/
footer img{
    width: 180px;
    height: 80px;
    margin: 50px;
}

/*-- 中 --*/
.boss{
    margin: 40px;
    margin-left: 130px;
}

/*-- 右 --*/
footer ul{
    display: flex;
    justify-content: center;
    margin-left: 50px;
}
footer li a{
    text-decoration: none;
    color: white;
    margin: 20px;
}